* {
    font-family: 'Calibri';
}

.jumbo-bg {
    background: url('https://news.usc.edu/files/2018/02/HarmfulBacteria_web-824x549.jpg') no-repeat center;
    background-size: cover;
}

.demo-text {
    font-size: 14px;
}

.card .card-header {
    font-size: 15px;
    font-weight: bold;
}

#selDataset {
    font-size: 14px;
}

.belly-bg {
    background-color: #225ea8 !important
}

.header-font {
    font-family: 'Calibri', serif;
   
}

.titleheader-font {
    color: #ffffff;
    text-shadow: #000000;
    
}